*{
    margin: 0;
    padding: 0;
}
.cabecalho img {
    padding-left: 10px; 
    width: 20px;
    
}

h2 {
    font-size: 20px ; 
    padding-right: 82vw; 
    
    
}

.inicio {
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

.cabecalho {
    background-color: mediumvioletred;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 20px;
 }


button {
    justify-self: end;
    margin-right: 20px;
    padding: 0 5px;
}

.container{
    display: grid;
    grid-template-columns: 280px 1fr;
}
.menu-lateral {
    background-color: #f2d0e0;
}

.menu {
    display: grid;
    grid-template-columns:0fr 6fr 0fr;
    justify-content: space-between;
    padding-top: 10px;

}

.menu p {
    padding-left: 15px;
    
    
}
.menu img {
    width: 20px;
    padding-left: 20px;
}

.produtos {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px;
}

.bolo{
    box-shadow: 1px 5px 5px darkgray;
    max-width: 300px;
    text-align: center;
    

}
.bolo img {
    width: 240px;
}

.rodape {
    background-color: mediumvioletred;
    height: 60px;
    display: flex;
    align-items: center;
}